<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS conditional</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="show">You can see me</p>
        <p v-else>You can also see me</p>
        <p>Do you see me?</p>
        <button @click="show =!show">Click me</button>
        <template v-if="show">
			<h1>Heading</h1>
			<p>Inside a template</p>
		</template>

    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                show: true
            }
        });
    </script>
</body>

</html>