* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5d4954;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}
