<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS CSS</title>
    <script src="vue.js"></script>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background-color: grey;
            display: inline-block;
            margin: 10px;
        }
        
        .red {
            background-color: red;
        }
        
        .green {
            background-color: green;
        }
        
        .yellow {
            background-color: yellow;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
        <div class="demo" :class="{red:attachRed}"></div>
        <div class="demo" :class="[color, {red:attachRed}]"></div>
        <div class="demo" :style="{'background-color':color}"></div>
        <div class="demo" :style="[myStyle,{height : width + 'px'}]"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                attachRed: false,
                color: 'gray',
                width: 100,
            },
            computed: {
                divClasses: function() {
                    return {
                        red: this.attachRed,
                        yellow: !this.attachRed
                    }
                },
                myStyle: function() {
                    return {
                        backgroundColor: this.color,
                        width: this.width + 'px'
                    }
                }

            }
        })
    </script>
</body>

</html>